/********** RESET **********/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.kasseh1 {
  text-align: center;
  color: var(--text-color);
  margin-top: 2rem;
}

#produktbillede {
  max-width: 550px;
  margin: 0 auto;
}

.produktkort {
  margin-top: 2rem;
  background-color: #f5e7dc;
}

.produktindhold {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.produktindhold img {
  width: 200px;
}

.tekst {
  display: flex;
  align-items: center;
}

.produktnavn {
  font-size: 1rem;
  margin-bottom: 5px;
}

.produktpris {
  font-size: 0.9rem;
  font-weight: 700;
}

/********** Forms **********/
#form-section {
  padding: 10px 20px;
  max-width: 600px;
  margin: auto;
}

#webform {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

.formboks {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #9c8d81;
  background-color: #e4d6cb;
  color: black;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

.formboks::placeholder {
  color: black;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

input:invalid {
  border: 1px solid #9c8d81;
}

.box-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/********** Betaling: **********/

.betaling {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #9c8d81;
  background-color: #e4d6cb;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  border-radius: 8px;
}

.submit {
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--footer-color);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.submit:hover {
  background-color: black;
}

/********** Output **********/

.output {
  padding: 20px;
  background-color: #e4d6cb;
  border: 1px solid #9c8d81;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.output p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.mobilepay {
  max-width: 70px;
  margin-left: auto;
}

.visa,
.mastercard {
  max-width: 30px;
}

.betalingsikoner {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
